ProgramowanieRozproszone_1/.vs/
ProgramowanieRozproszone_1/obj/
ProgramowanieRozproszone_1/bin/
ProgramowanieRozproszone_1_Client/.vs/
ProgramowanieRozproszone_1_Client/obj/
ProgramowanieRozproszone_1_Client/bin/
